%h2
  Top Users by Karma Score
  %small
    = link_to 'Sign Up', new_user_path

%table
  %thead
    %tr
      %th Karma
      %th Username
  %tbody
  - @users.sort_by(&:karma).reverse.each do |user|
    %tr
      %td +#{user.karma}
      %td= link_to user.username, user

%br

