%h2 How it Works
%p
  Lightning talks are short, 5-8 minute talks, followed by questions. There will be many short topics presented in a given night. They are short, so there isn't much pressure. Do a little research on your topic and tell the group about your findings.
%p
  Topics should be small enough to be easily digestable by Rails newbies. This can be a relatively simple topic, or a small introduction to a larger concept. Try to keep them Rails-focused. Ruby skills are good topics, but text editors and operating systems are off-topic.
%p
  You can submit an idea for a topic you think would be interesting. You show up as the submitter for that talk. You can edit the talk details until someone else claims it. We are counting on CWDG Members to claim a topic for themselves.
%p
  Anyone can claim an unclaimed topic. This volunteers you to present a lightning talk on that topic during the meeting.
%p
  %strong
    You must claim a topic.
%p
  If you have any questions, email the list, or if you prefer, Alex or Mark directly. The #cwdg channel on IRC is also always available.
