/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$green-color: #6dc000;
$dark-green-color: darken($green-color, 10%);

a {
  text-decoration: none;
  color: $dark-green-color;
  &:hover {
    color: $green-color;
  }
}

h1 small, h2 small, h3 small, h4 small, h5 small {
  font-size: 0.75em;
  margin-left: 30px;
  font-weight: normal;
}

nav {
  ul { padding-left: 0; }

  li {
    display: inline-block;
    margin: 0 5px;
    list-style-type: none;
  }
}

.flashes {
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#flash_alert {
  background-color: pink;
  padding: 5px;
}

#flash_notice {
  background-color: lightgreen;
  padding: 5px;
}

.announcement {
  border: 1px dotted #034508;
  background-color: #E3FFE5;
}

.info {
  padding: 0px 20px;
}

